* {
    margin: 0%;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --roxo: #a200cb;
    --grafite: #707070;
    --laranja: #ffbd19;
    --verde: #14cc8a;
}

header {
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #A200CB;
}

.container img {
    /* logo */
    height: 95px;
    width: 204px;
}

.container {
    width: 1200px;
    margin: auto;
}

.container input {
    width: 605px;
    height: 35px;
    margin-left: 90px;
}

.menu-centro {
    display: flex;
    justify-content: center;
}

.ca {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI';
}

.ca a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-login {
    display: flex;
    justify-content: flex-end;
    margin-left: 60px;
}

.botao-login p {
    margin-top: -4px;
}

#entrar {
    width: 30px;
    height: 35px;
    margin: 10px;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 600px;
    align-items: center;
    font-size: 12px;
}

.menu a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.menu a:hover {
    border-bottom: 1.5px solid white;
    transition: 0.3s;
}

footer {
    background-image: linear-gradient(to right, rgb(162, 0, 203), rgb(20, 204, 138));
    color: white;
    font-size: 18px;
    font-family: 'Segoe UI';
    text-align: center;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-menu, .btn-close {
    display: none;
}
/* celular */
@media (max-width: 768px) {
    /* header */
    header {
        background-color: var(--laranja);
    }
    .menu {
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.9);
        top: 0;
        left: 0;
    }
    .container input {
        display: none;
    }
    .menu-centro {
        flex-direction: column;
        padding: 15px 0px;
        margin: auto;
        text-align: center;
    }
    .menu-centro li {
        padding-top: 10px;
        padding: 20px 0px;
    }
    .container img {
        /* logo */
        height: 75px;
        width: 164px;
        padding-top: 20px;
    }
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        margin: auto;
    }
    #entrar {
        display: none;
    }
    .botao-login p {
        display: none;
    }
    .ca {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        font-family: 'Segoe UI';
        margin: auto;
    }
    /* Botões do menu */
    .btn-close {
        font-size: 1.5em;
        color: #FFF;
        float: left;
        cursor: pointer;
        z-index: 1;
        position: absolute;
        right: 10px;
        top: 0px;
    }

    .btn-menu {
        display: block;
        width: 56px;
        height: 56px;
        margin: auto;
        text-align: center;
        color: #FFF;
        border-radius: 56px;
        cursor: pointer;
        background: linear-gradient(to right, rgb(162, 0, 203), rgb(20, 204, 138));
    }

    /* main */
    /* Fim do main, o footer não precisa */
}
/* não sei, mas é menor, vai diminuindo e alinhando os elementos */
@media (max-width: 1024px) {
    header {
        background-color: var(--verde);
    }
    .container input {
        }
    .menu-centro {
        flex-direction: column;
        padding: 15px 0px;
        margin: auto;
        text-align: center;
    }
    .menu-centro li {
        padding-top: 10px;
        padding: 20px 0px;
    }
    .container img {
        /* logo */
        height: 75px;
        width: 164px;
        padding-top: 20px;
    }
    .container {
        width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        margin: auto;
    }
}
