:root {
    --roxo: #a200cb;
    --grafite: #707070;
    --laranja: #ffbd19;
    --verde: #14cc8a;
}

* {
    margin: 0%;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #A200CB;
}
.container {
    width: 1200px;
    margin: auto;
}
.container img { /* logo */
    height: 95px;
    width: 204px;
}
.botao-login { /* Avatar + Entrar - btn login */
    display: flex;
    justify-content: flex-start;
    width: 204px;
}
.botao-login p { /* Entrar -  btn login */
    margin-top: -4px;
}
#entrar { /* avatar do usuário - btn login */
    width: 30px;
    height: 35px;
    margin: 10px;
}
.container input { /* BARRA DE PESQUISA */
    width: 605px;
    height: 35px;
}
.menu-centro {
    display: flex;
    justify-content: center;
}
.ca {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI';
    padding: 0px 25px;
}
.ca a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 600px;
    align-items: center;
    font-size: 12px;
}
.menu a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
.menu a:hover {
    border-bottom: 1.5px solid white;
    transition: 0.3s;
}
footer {
    background-image: linear-gradient(to right, rgb(162, 0, 203), rgb(20, 204, 138));
    color: white;
    font-size: 18px;
    font-family: 'Segoe UI';
    text-align: center;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-menu, .btn-close {
    display: none;
}
/* celular */
@media (max-width: 768px) {
    /* header */
    header {
        background-color: var(--laranja);
    }
    .menu {
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.9);
        top: 0;
        left: 0;
    }
    .container input {
        display: none;
    }
    .menu-centro {
        flex-direction: column;
        padding: 15px 0px;
        margin: auto;
        text-align: center;
    }
    .menu-centro li {
        padding-top: 10px;
        padding: 20px 0px;
    }
    .container img {
        /* logo */
        height: 75px;
        width: 164px;
        padding-top: 20px;
    }
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        margin: auto;
    }
    #entrar {
        display: none;
    }
    .botao-login p {
        display: none;
    }
    .ca {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        font-family: 'Segoe UI';
        margin: auto;
    }
    /* Botões do menu */
    .btn-close {
        font-size: 1.5em;
        color: #FFF;
        float: left;
        cursor: pointer;
        z-index: 1;
        position: absolute;
        right: 10px;
        top: 0px;
    }

    .btn-menu {
        display: block;
        width: 56px;
        height: 56px;
        margin: auto;
        text-align: center;
        color: #FFF;
        border-radius: 56px;
        cursor: pointer;
        background: linear-gradient(to right, rgb(162, 0, 203), rgb(20, 204, 138));
    }
    /* main */
    /* Fim do main, o footer não precisa */
}
/* não sei, mas é menor, vai diminuindo e alinhando os elementos */
@media (max-width: 1024px) {
    header {
        background-color: var(--verde);
        height: 110px;
    }
    .menu {
        width: 406px;
    }
    .menu-centro li {
        padding-top: 2px;
    }
    .container img {
        /* logo */
        height: 55px;
        width: 124px;
        padding-top: 20px;
    }
    .container input{
        width:  406px;
        height: 25px;
        margin-top: 30px;
    }
    .botao-login p{
        margin-top: 30px;
    }
    .botao-login{
        width: 124px;
    }
    .container {
        width: 100vw;
        padding: 0px 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        margin: auto;
    }
    .ca{
        width: 800px;
    }
}


/* paginaProduto */
/* Verificar .container  */
main {
    background-color: #ebebeb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* padding-top: 50px; */
    /* padding-bottom: 50px; */
}

.produto {
    background-color: #fff;
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.esquerdo {
    /* background-color: white; */
    /* height: 800px; */
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.esquerdo .imagem-produto {
    width: 450px;
    height: 450px;
    margin: 10% 0;
}

.direito {
    /* background-color: white; */
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}

.direito .nomeProduto {
    font-size: 2.0em;
    font-weight: bold;
    color: var(--grafite);
}

.direito .precoProduto {
    font-size: 1.8em;
    font-weight: bold;
    color: var(--verde);
}

.contQuantBotoes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.quantidade {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    color: var(--grafite);
}

.quantidade input {
    border-radius: 4px;
    height: 30px;
    width: 44%;
    font-size: 0.8em;
}

.botoes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 6%;
}

.botoes a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--roxo);
    color: white;
    padding: 2% 15%;
}

.botoes .botaoReservar {
    background-color: var(--laranja);
}

.botoes .botaoComprar {
    background-color: var(--roxo);
}

.outrosProdutos {
    background-color: #fff;
    width: 1200px;
    margin: auto;
    margin-top: 50px;
}

.relacionados {
    font-size: 1.6em;
    font-weight: bold;
    color: var(--grafite);
    margin-left: 4%;
    padding: 3% 0;
}

.outrosProdutos .produtos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cardProduto {
    margin: 2%;
    border: solid 1px black;
    text-align: center;
}

.textoCard {
    padding: 1px;
    padding-top: 3%;
    margin-bottom: 10%;
    font-weight: 600;
}

.cardProduto a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--laranja);
    color: white;
    padding: 2% 15%;
}

.botaoCard {
    margin: 10% 0;
}

/* home */
.cnjt {
    display: flex;
    justify-content: space-between;

}

.cnjt p {
    width: 570px;
    height: 250px;
}

.cnjt h3 {
    padding: 0px 0px 50px;
}

.cnjt p {
    text-align: justify;
    align-items: center;
}

.meio-home {
    position: relative;
    bottom: 200px;
    display: flex;
    justify-content: center;
}

.whitebox {
    border-radius: 5px;
    width: 1150px;
    height: 350px;
    background-color: white;
    padding: 20px
}

.banner-home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../imagens/img4.png);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-1 {
    width: 570px;
    border-radius: 5px;
}

/* filtroProdutos */

.cont {
    padding: 3% 0%;
}

.containerProdutos {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 4px 4px 15px #cccccc;
}

.containerProdutos h1 {
    padding: 3% 2%;
    color: var(--grafite);
}

.filtros label, .ordenar label {
    margin-right: 2%;
}

.filtros {
    color: white;
    padding: 3% 0%;
    display: block;
    padding-left: 2%;

    background-position: top center;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(162, 0, 203, 0.6), rgba(162, 0, 203, 0.6)), url(../img/img4.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.filtros h2 {
    margin-bottom: 3%;
}

.divSelects select {
    border-radius: 4px;
    width: 50%;
    padding: 0.5% 0;
    margin-right: 2%;
}

.btnAplicarFiltros {
    width: 10%;
    padding: 0.5% 0;
    margin-right: 2%;
    border-radius: 4px;
    color: white;
    background-color: var(--laranja);
    border: none;
    text-transform: uppercase;
    font-weight: 600;
}

.btnAplicarFiltros:hover {
    cursor: pointer;
}

.innerFiltros {
    display: flex;
    justify-content: space-between;
}

.divSelects {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ordenar {
    color: var(--roxo);
    padding: 3% 0%;
    display: block;
    padding-left: 2%; 
}

.ordenar select {
    border-radius: 4px;
    width: 30%;
    padding: 0.5% 0;
    margin-right: 2%;
}

.categorias {
    width: 100%;
}

.categoria h2 {
    padding: 0 2%;
    color: var(--grafite);
}

.categoria .produtos {
    display: grid;
    grid-template-columns: 35% auto 35%;
    grid-template-rows: 50% 50%;
    grid-gap: 10px;
    background-color: white;
    padding: 10px;
    height: 50%;
    padding-bottom: 3%;
    border-radius: 5px;
}

.categoria .produtos .cardProduto {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border: none;
    box-shadow: 4px 4px 15px #cccccc
}

.englobados {
    display: none;
    position: absolute;
    bottom: 70px;
    margin-bottom: -70px;
    background-color: rgba(162, 0, 203, 0.6);
    color: white;
    width: 100%;
}

.imgCardProduto:hover + .englobados{
    transition: 0.3s;      
    display: block;
}

.englobados:hover {
    display: block;
}

.imgCardProduto img {
    height: 100%;
}

.cardGrid1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.cardGrid2 {
    grid-column-start: 2;
    grid-column-end: 3; 
    grid-row-start: 1;
    grid-row-end: 2;
}

.cardGrid3 {
    grid-column-start: 2;
    grid-column-end: 3; 
    grid-row-start: 2;
    grid-row-end: 3;
}

.cardGrid4 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}