:root {
    --roxo: #a200cb;
    --grafite: #707070;
    --laranja: #ffbd19;
    --verde: #14cc8a;
    --cinza: grey;
}

* {
    margin: 0%;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #A200CB;
}

/* cadastro produto venda e doacao */
.fundoCadastro {
    background-image: url(../img/bannerpho.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cardCadastro {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(204, 204, 204, 1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(204, 204, 204, 1);
    box-shadow: 0px 0px 8px 0px rgba(204, 204, 204, 1);
    margin-top: 40px;
    margin-bottom: 40px;
}

.cardCadastro h2 {
    font-size: 40px;
    padding: 20px;
    color: var(--roxo);
}

#form_cadastro label {
    font-size: 20px;
    color: var(--roxo);
}

#form_cadastro_venda {
    font-size: 20px;
    color: var(--roxo);
}

.radios {
    display: flex;
    justify-content: space-around;
    width: 500px;
}

.radio {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 30px;
    width: 100px;
}

.radio2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100px;
}

#form_cadastro input {
    display: flex;
    /*Flexibilizar o conteudo do input dentro do formulario*/
    flex-direction: column;
    /* Coloquei em coluna e assim quebra linha*/
    padding: 10px;
    width: 230px;
}

#form_cadastro_venda input {
    display: flex;
    /*Flexibilizar o conteudo do input dentro do formulario*/
    flex-direction: column;
    /* Coloquei em coluna e assim quebra linha*/
    padding: 10px;
    width: 230px;
}

.campo {
    /* width: 500px; */
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.campo input {
    border-radius: 10px;
    border: solid 1px var(--cinza);
}

.btnCadastro {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-bottom: 10px;
}

.btnCadastro button {
    padding: 10px 20px;
    background-color: var(--roxo);
    border-radius: 4px;
    border: solid 1px var(--roxo);
    color: white;
}

#form_cadastro_venda hr {
    margin: 30px;
}

.opcvenda {
    width: 380px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 3 .0em;
}

.opcvenda input {
    border-radius: 10px;
    border: solid 1px var(--cinza);
    width: 100px;
}

.fotos {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.fotos label {
    margin: auto;
    padding: 15px 0px;
}

.fotos input {
    border: dotted 1px grey;
    border-radius: 4px;
    height: 60px;
    width: 400px;
    margin: auto;
    margin-bottom: 30px;
}

.fotos img {
    width: 80px;
}
/*Responsivo Cadastro de Produto Doação e Venda*/
@media (max-width: 1024px) {
    body {
        width: 500px;
    }

    main {
        width: 1000px;
    }

    .card_cadastroproduto h2 {
        font-size: 20px;
    }

    form {
        width: 300px;
        height: 1200px;
    }

    .campo_cadastroproduto {
        display: flex;
        flex-direction: column;
    }

    .radios_cadastroproduto {
        display: flex;
        flex-direction: column;
        width: 100px;
        align-items: flex-start;
    }

    .fotos_cadastroproduto input {
        width: 100px;
        display: flex;
        justify-content: flex-start;
    }

    .btn_cadastroproduto {
        width: 300px;
        margin: auto;
    }
}

@media (max-width: 767px) {
    main {
        width: 730px;
        margin: auto;
    }

    .fotos_cadastroproduto input {
        width: 250px;
    }

    footer {
        background-image: linear-gradient(to right, rgb(162, 0, 203), rgb(20, 204, 138));
        color: white;
        font-size: 18px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card_cadastroproduto {
        height: 1300px;
    }
}
/* Cadastro de vendedor */

.cardscadastrovendedor h3 {
    padding-top: 20px;
    color: var(--roxo);
    text-transform: uppercase;
    padding-bottom: 5px;
    text-align: center;
}

.cardscadastrovendedor label, input {
    color: #707070;
}

.cardscadastrovendedor {
    width: 550px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cardscadastrovendedor .informacao {
    display: flex;
    flex-direction: column;
    border: solid 1px #707070;
    border-radius: 8px;
    padding: 0px 30px;
    height: 200px;
    justify-content: flex-start;
    width: 190px;
    background-color: white;
}

.cardscadastrovendedor .cadvend {
    display: flex;
    flex-direction: column;
    width: 190px;
    border: solid 1px #707070;
    border-radius: 8px;
    padding: 0px 30px;
    padding-bottom: 50px;
    justify-content: center;
    background-color: white;
    align-items: center;
}

.cardscadastrovendedor .cadastro2 {
    display: flex;
    flex-direction: column;
    padding: 9px;
}

.cardscadastrovendedor .cadvend form input {
    width: 160px;
    padding: 5px;
}

.cardscadastrovendedor button {
    padding: 10px 20px;
    background-color: var(--roxo);
    border-radius: 4px;
    border: solid 1px var(--roxo);
    color: white;
}

.cardscadastrovendedor .btn {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-bottom: 10px;
}
@media (max-width: 1024px){
    *{
        font-size: 20px;
    }
    .cadvend_cadastrovendedor{
        width: 290px;
    }
    .cardscadastrovendedor{
        width: 800px;
    }
    .informacao_cadastrovendedor{
        width: 300px;
    }
    main {
        width: 1000px;
        margin: auto;
    }
    form {
        line-height: 1.5em;
        width: 210px;
    }
    .informacao_cadastrovendedor{
        height: 300px;
    }
    button{
        margin-top:  30px
    }
}
@media (max-width: 767px){
    main{
        width: 700px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;    
    }
    .cardscadastrovendedor{
        display: flex;
        flex-direction: column;
        width: 350px;
        margin: auto;
    }
    .cadvend_cadastrovendedor{
        width: 300px;
    }
    .informacao_cadastrovendedor{
        width: 300px;
        margin-bottom: 10px;
    }
    .cadastro2_cadastrovendedor{
        width: 200px;
        margin: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    form{
        margin: auto;
    }
}
/* Cadastro e login */

.cadastroelogin_pag {
    background-image: url(img/bannerpho.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cadastroelogin_pag .cards {
    width: 550px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cadastroelogin_pag .card_1 {
    display: flex;
    flex-direction: column;
    border: solid 1px #707070;
    border-radius: 8px;
    padding: 0px 30px;
    height: 250px;
    justify-content: center;
    widows: 200px;
    background-color: white;
}

.cadastroelogin_pag .card_2 {
    display: flex;
    flex-direction: column;
    width: 200px;
    border: solid 1px #707070;
    border-radius: 8px;
    padding: 0px 30px;
    padding-bottom: 50px;
    justify-content: center;
    background-color: white;
}

.cadastroelogin_pag .login {
    display: flex;
    flex-direction: column;
}

.cadastroelogin_pag .cadastro {
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
}

.cadastroelogin_pag .card_2 form input {
    width: 160px;
}

.cadastroelogin_pag h3, label, input {
    color: #707070;
}

.cadastroelogin_pag h3 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
}

.cadastroelogin_pag .login, .cadastro {
    padding: 9px;
}

.cadastroelogin_pag .login input, .cadastro input {
    padding: 5px;
}

.cadastroelogin_pag .btn {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-bottom: 10px;
}

.cadastroelogin_pag button {
    padding: 10px 20px;
    background-color: var(--roxo);
    border-radius: 4px;
    border: solid 1px var(--roxo);
    color: white;
}
@media (max-width: 1024px) {
    main {
        width: 1000px;
    }

    h3 {
        font-size: 30px;
    }

    .cards_cadlog {
        font-size: 30px;
        width: 800px;
    }

    .card_1_cadlog {
        width: 300px;
        height: 400px;
    }

    .card_2_cadlog {

        width: 350px;
    }

    input {
        height: 30px;
    }

    button{
        font-size: 20px;
    }
}
@media (max-width: 767px){
    main {
        width: 750px;
    }
    h3 {
        font-size: 30px;
    }
    label{
        padding-bottom: 5px;
    }
    .cards_cadlog {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 30px;
        width: 600px;
    }
    .card_1_cadlog{
        width: 350px;
        margin-bottom: 20px;
    }
    .card_1_cadlog input{
        margin: 5px;
        height: auto;
    }
    .card_2_cadlog{
        height: auto;
        width: 350px;
    }
}

/* Final da Reserva */
.finalreserva_pag {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin: auto; 
}

.finalreserva_pag h1{
    color: #707070;
    display: flex;
    justify-content: center;
    align-items: center;
}

.finalreserva_pag .esquerdo{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-position: left;
    margin: auto;
}
.finalreserva_pag .direito{
    background-position: right;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
}
.finalreserva_pag .texto h3{
    color: #A200CB
}
.finalreserva_pag .container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 700px;
    margin: auto;
}
.finalreserva_pag .direito img{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.finalreserva_pag .texto h3{
    margin-bottom: 200px;
}
.finalreserva_pag .textos2{
    margin-bottom: 100px;
}

/* Home */
.home_pag .cnjt {
    display: flex;
    justify-content: space-between;

}

.home_pag .cnjt p {
    width: 570px;
    height: 250px;
}

.home_pag .cnjt h3 {
    padding: 0px 0px 50px;
}

.home_pag .cnjt p {
    text-align: justify;
    align-items: center;
}

.home_pag .btn:hover {

    transition: 0.2s;
    color: white
}

.home_pag .meio-home {
    position: relative;
    bottom: 200px;
    display: flex;
    justify-content: center;
    margin-bottom: -180px;
}

.home_pag .whitebox {
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 1160px;
    height: 350px;
    background-color: white;
    padding: 20px
}

.home_pag .banner-home {
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/img4.png);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

.home_pag .img-1 {
    width: 570px;
    border-radius: 5px;
}

.home_pag .menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 600px;
    align-items: center;
    font-size: 12px;
}

.home_pag .menu a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.home_pag .menu a:hover {
    color: black;
    transition: 0.3s;
}

.home_pag .menu-centro {
    display: flex;
    justify-content: center;
}

.home_pag .ca {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home_pag .ca a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_pag .botao-login {
    display: flex;
    justify-content: flex-end;
}

.home_pag #entrar {
    width: 30px;
    height: 35px;
    margin: 10px;
}

.home_pag .menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 600px;
    align-items: center;
    font-size: 12px;
}

.home_pag .menu a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.home_pag .container h3 {
    margin: 40px 0px -10px;

}

.home_pag .ver a {
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 40px;
}

.home_pag footer {
    background-image: linear-gradient(to right, rgb(162, 0, 203), rgb(20, 204, 138));
    color: white;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_pag .branco {

    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 10px;
    width: 750px;
    height: 40px;
    background-color: white;
    border-radius: 50px;

}

.home_pag .branco img {
    padding-right: 400px;
    width: 30px;
    height: 25px;
}

.home_pag .one {
    width: 1200px;
    border: none;
    height: 1.5px;
    background: #dddddd;
}

.home_pag .linha {
    display: flex;
    justify-content: center;
}

.home_pag .roxo {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(162, 0, 203)), url(../img/img5.png);
    background-size: cover;

}

.home_pag .rank {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_pag .rank p {
    font-size: 20px;
    color: white;
    padding-bottom: 35px;
    /* display: flex;
    justify-content: center; */


}

.home_pag .ongs {
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px 0px 40px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.home_pag .ongs img {
    height: auto;
}

.home_pag .tongs {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin: 60px 0px 0px;
}

.home_pag #white {
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: white;
    

}

.home_pag .cardhome {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 0 10px;
}

.home_pag .card {
    width: 270px;
    line-height: 2.0;
    margin-top: 30px;
}

.home_pag .card img {
    border-radius: 7px;
    width: 250px;
    height: auto;
    /* transition: all 2s; */
}

.home_pag .cardhome2 {
    margin: 20px 0px 0px;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: white;
}

.home_pag .card p {
    text-align: center;
    padding-bottom: 20px;
    line-height: 19px;
}

.home_pag .card a:hover {
    color: #A200CB;

}

.home_pag .card a {
    font-size: 15px;

    color: black;
    text-decoration: none;
}

.home_pag .pdt {
    padding-bottom: 40px;
}

.home_pag .pdt h4 {
    padding: 40px 0px 0px;
    text-align: center;
    text-transform: uppercase;
}

.home_pag .pdts {
    display: flex;
    flex-direction: row;
}

/* Ongs */
.ongs_pag .conteudo img {
    width: 150px;
    height: 150px;
    background-color: white;
}

.ongs_pag .container input {
    width: 605px;
    height: 35px;
    margin-left: -120px;
}
.ongs_pag .container {
    width: 1200px;
    padding: auto;
    margin: auto;
    background-color: white;
    color: #707070;
}
.ongs_pag .conteudo {
    display: flex;
    justify-content: space-between;
    height: 150px;
    margin: 0px 25px;
    padding: 25px;
    font-family: 'Segoe UI';
    align-items: flex-start;
    font-size: 16px;
    align-items: center;
}


.container {
    width: 1170px;
    margin: auto;
}
.container img { /* logo */
    height: 95px;
    width: 204px;
}
.botao-login { /* Avatar + Entrar - btn login */
    display: flex;
    justify-content: flex-start;
    width: 204px;
}
.botao-login p { /* Entrar -  btn login */
    margin-top: -4px;
}
#entrar { /* avatar do usuário - btn login */
    width: 30px;
    height: 35px;
    margin: 10px;
}
.container input { /* BARRA DE PESQUISA */
    width: 605px;
    height: 35px;
}
.menu-centro {
    display: flex;
    justify-content: center;
}
.ca {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI';
    padding: 0px 25px;
}
.ca a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 600px;
    align-items: center;
    font-size: 12px;
}
.menu a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
.menu a:hover {
    border-bottom: 1.5px solid white;
    transition: 0.3s;
}
footer {
    background-image: linear-gradient(to right, rgb(162, 0, 203), rgb(20, 204, 138));
    color: white;
    font-size: 18px;
    font-family: 'Segoe UI';
    text-align: center;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-menu, .btn-close {
    display: none;
}
/* celular */
@media (max-width: 767px) {
    /* header */
    header {
        background-color: var(--laranja);
    }
    .menu {
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.9);
        top: 0;
        left: 0;
    }
    .container input {
        display: none;
    }
    .menu-centro {
        flex-direction: column;
        padding: 15px 0px;
        margin: auto;
        text-align: center;
    }
    .menu-centro li {
        padding-top: 10px;
        padding: 20px 0px;
    }
    .container img {
        /* logo */
        height: 75px;
        width: 164px;
        padding-top: 20px;
    }
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        margin: auto;
    }
    #entrar {
        display: none;
    }
    .botao-login p {
        display: none;
    }
    .ca {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        font-family: 'Segoe UI';
        margin: auto;
    }
    /* Botões do menu */
    .btn-close {
        font-size: 1.5em;
        color: #FFF;
        float: left;
        cursor: pointer;
        z-index: 1;
        position: absolute;
        right: 10px;
        top: 0px;
    }

    .btn-menu {
        display: block;
        width: 56px;
        height: 56px;
        margin: auto;
        text-align: center;
        color: #FFF;
        border-radius: 56px;
        cursor: pointer;
        background: linear-gradient(to right, rgb(162, 0, 203), rgb(20, 204, 138));
    }

    /* pagina perfil */
    .perfil_pag {
        width: 100%;
        text-align: center;
    }
    .perfil_pag .cima{
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .perfil_pag .cima img{ /* imagem usuário */
        width: 50vw;
    }
    .perfil_pag .esquerdo{
        width: 100vw;
    }
    .perfil_pag .direito{
        width: 100vw;
    } 
    .perfil_pag #avatar{
        margin: auto;  
    } 

    /* main */
    /* Fim do main, o footer não precisa */

     /* pagina filtroProdutos */
    .containerProdutos {
        width: 85vw;
    }
    .filtros {
        background-image: linear-gradient(rgba(20, 204, 138, 0.6), rgba(20, 204, 138, 0.6)), url(../img/img4.png);
        background-position: unset;
    }

    .innerFiltros {
        flex-direction: column;
    }

    .divSelects {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 4%;
    }

    .btnAplicarFiltros {
        width: 25%;
        padding: 1% 0;
    }

    .ordenar {
        color: var(--verde);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .ordenar select {
        width: 65%;
    }

    .categoria .produtos .cardProduto {
        margin: 10%;
    }

    .imgCardProduto {
        margin-top: 6%;
    }

    .englobados {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        color: var(--grafite);
    }
    .imgCardProduto img {
        height: 100%;
        width: 100%;
        padding-top: 0;
    }

}
/* não sei, mas é menor, vai diminuindo e alinhando os elementos */
@media (max-width: 1169px) {
    header {
        background-color: var(--verde);
        height: 110px;
    }
    .menu {
        width: 406px;
    }
    .menu-centro li {
        padding-top: 2px;
    }
    .container img {
        /* logo */
        height: 55px;
        width: 124px;
        padding-top: 20px;
    }
    .container input{
        width:  406px;
        height: 25px;
        margin-top: 30px;
    }
    .botao-login p{
        margin-top: 30px;
    }
    .botao-login{
        width: 124px;
    }
    .container {
        width: 85vw;
        padding: 0px 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        margin: auto;
    }
    .ca{
        width: 800px;
    }

    /* pagina filtroProdutos */
    .containerProdutos {
        width: 85vw;
    }
    .filtros {
        background-image: linear-gradient(rgba(20, 204, 138, 0.6), rgba(20, 204, 138, 0.6)), url(../img/img4.png);
        background-position: unset;
    }
    .ordenar {
        color: var(--verde);
    }
    .englobados {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        color: var(--grafite);
    }
    .imgCardProduto img {
        height: 100%;
        width: 100%;
        padding-top: 0;
    }
}


/* paginaProduto */
/* Verificar .container  */
main {
    background-color: #ebebeb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* padding-top: 50px; */
    /* padding-bottom: 50px; */
}

.paginaProduto_pag .produto {
    background-color: #fff;
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.paginaProduto_pag .esquerdo {
    /* background-color: white; */
    /* height: 800px; */
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginaProduto_pag .esquerdo .imagem-produto {
    width: 450px;
    height: 450px;
    margin: 10% 0;
}

.paginaProduto_pag .direito {
    /* background-color: white; */
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}

.paginaProduto_pag .direito .nomeProduto {
    font-size: 2.0em;
    font-weight: bold;
    color: var(--grafite);
}

.paginaProduto_pag .direito .precoProduto {
    font-size: 1.8em;
    font-weight: bold;
    color: var(--verde);
}

.paginaProduto_pag .contQuantBotoes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.paginaProduto_pag .quantidade {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    color: var(--grafite);
}

.paginaProduto_pag .quantidade input {
    border-radius: 4px;
    height: 30px;
    width: 44%;
    font-size: 0.8em;
}

.paginaProduto_pag .botoes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 6%;
}

.paginaProduto_pag .botoes a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--roxo);
    color: white;
    padding: 2% 15%;
}

.paginaProduto_pag .botoes .botaoReservar {
    background-color: var(--laranja);
}

.paginaProduto_pag .botoes .botaoComprar {
    background-color: var(--roxo);
}

.paginaProduto_pag .outrosProdutos {
    background-color: #fff;
    width: 1200px;
    margin: auto;
    margin-top: 50px;
}

.paginaProduto_pag .relacionados {
    font-size: 1.6em;
    font-weight: bold;
    color: var(--grafite);
    margin-left: 4%;
    padding: 3% 0;
}

.paginaProduto_pag .outrosProdutos .produtos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.paginaProduto_pag .cardProduto {
    margin: 2%;
    /* border: solid 1px black; */
    text-align: center;
}

.paginaProduto_pag .cardProduto img {
    height: auto;
}

.paginaProduto_pag .textoCard {
    padding: 1px;
    padding-top: 3%;
    margin-bottom: 10%;
    font-weight: 600;
}

.paginaProduto_pag .cardProduto a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--laranja);
    color: white;
    padding: 2% 15%;
}

.paginaProduto_pag .botaoCard {
    margin: 10% 0;
}

/* filtroProdutos */
.cont {
    padding: 3% 0%;
}

.containerProdutos {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 4px 4px 15px #cccccc;
}

.containerProdutos h1 {
    padding: 3% 2%;
    color: var(--grafite);
}

.filtros label, .ordenar label {
    margin-right: 2%;
}

.filtros {
    color: white;
    padding: 3% 0%;
    display: block;
    padding-left: 2%;

    
    background-attachment: fixed;    
    background-repeat: no-repeat;
    background-size: cover;
}

/* pagina Ranking */
.ranking_pag td {
    padding: 0px 45px;
    margin: auto;
    text-align: center;
}
.ranking_pag table {
    margin: auto;
    border-spacing: 15px;
}
.ranking_pag .div {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 40px;
}
.ranking_pag .descricao {
    width: 40%;
    text-align: justify;
    border: solid 0px var(--roxo);
    border-radius: 5px;
    height: 800px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(204, 204, 204, 1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(204, 204, 204, 1);
    box-shadow: 0px 0px 8px 0px rgba(204, 204, 204, 1);
    
}
.ranking_pag .ranking {
    width: 47%;
    border: solid 0px var(--roxo);
    border-radius: 5px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(204, 204, 204, 1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(204, 204, 204, 1);
    box-shadow: 0px 0px 8px 0px rgba(204, 204, 204, 1);
}
.ranking_pag p {
    width: 400px;
    margin: auto;
    padding-top: 20px;
}
.ranking_pag h3 {
    text-align: center;
    padding: 20px;
    border-bottom: solid 2px var(--roxo);
    color: var(--roxo);
    text-transform: uppercase;
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
}
.ranking_pag {
    background-image: url(../img/arrumado.png);
    /* opacity: 0.5; */
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding-bottom: 40px;
}
.ranking_pag .a-botao {
    color: var(--roxo);
    border: solid 2px var(--roxo);
    padding: 20px;
    background-color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.ranking_pag .a-botao:hover {
    background-color: var(--roxo);
    color: white;
}
.ranking_pag .botao {
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

/* pagina perfil */
.perfil_pag {
    margin: auto;
    width: 100vw;
    background-color: white;
    padding: 20px 0px;
}
.perfil_pag h2 {
    text-align: center;
    padding: 20px;
}
.perfil_pag h3{
    text-align: center;
    padding: 15px;

}
.perfil_pag .cima {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 3px #A200CB;
    padding: 20px 0px;
    /* border-bottom: 2px solid var(--roxo); */
}
.perfil_pag .esquerdo {
    width: 47%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.perfil_pag .direito {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 47%;
    height: 286px;
    font-size: 20px;
    padding-top: 20px;
}
.perfil_pag .textos {
    font-size: 20px;
    margin: auto;
}
.perfil_pag .baixo {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-top: 30px;
}
.perfil_pag .centro{
    width: 47%;
    margin: auto;
}
.perfil_pag .baixo {
    
    display: flex;
    justify-content: center;
}
.perfil_pag .posranking {
    border: 1px solid black;
    padding: 10px;
    width: 200px;
    margin: auto;
}

/* pagina faq */
.faq_pag {
    text-align: center;
    align-items: center;
}

.faq_pag .container1 {
    width: 900px;
    padding-top: 50px;
    margin: auto;
    margin-bottom: 20px;
}

.faq_pag .texto {
    font-family: 'Segoe UI';
    font-size: 18px;
    color: #707070;
    text-align: start;
    align-items: flex-start;
    padding-bottom: 50px;
}

.faq_pag .text {
    font-family: 'Segoe UI';
    font-size: 18px;
    color: #707070;
    text-align: start;
    align-items: flex-start;
}

.faq_pag .duvidas {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    line-height: 3.0em;
    color: var(--grafite);
    padding-top: 30px;
    text-transform: uppercase;
}

.faq_pag input {
    background-color: white;
    padding: 3px;
    border: 1px solid gray;
    width: 600px;
    height: 100px;
}

.faq_pag .enviar {
    width: 650px;
}

.faq_pag button {
    padding: 8px 60px;
    background-color: var(--roxo);
    border-radius: 4px;
    border: solid 1px var(--roxo);
    color: white;
    margin-top: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}

.faq_pag h2 {
    line-height: 2.0em;
}

/* pagina quem somos */

.quemsomos_pag .bannerquemsomos {
    background-image: url(../img/banner.png);
    width: 100%;
    /*Importante colocar 100% para ele agir sozinho*/
    height: 443px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.quemsomos_pag .caixao {
    display: flex;
    flex-direction: column;
    text-align: justify;
    height: 600px;
    margin-right: 30px;
}

.quemsomos_pag h2 {
    padding: 25px;
}

.quemsomos_pag .one, .quemsomos_pag .two {
    color: #707070;
}

.quemsomos_pag .one {
    width: 400px;
    font-size: 20px;
}

.quemsomos_pag .two {
    width: 400px;
    font-size: 20px;
}

.quemsomos_pag .tudo {
    align-items: center;
    display: flex;
    width: 900px;
    margin: auto;
    margin-top: 30px;

}

.quemsomos_pag .tudo img {
    width: 547, 12px;
    height: 571, 46;
}





@media (min-width: 1170px) {
    .filtros {
        background-position: top center;    
        background-image: linear-gradient(rgba(162, 0, 203, 0.6), rgba(162, 0, 203, 0.6)), url(../img/img4.png);
    }  
    .ordenar {
        color: var(--roxo);    
    }
    .englobados {
        display: none;
        position: absolute;
        bottom: 70px;
        margin-bottom: -70px;
        background-color: rgba(162, 0, 203, 0.6);
        color: white;
    }
    .imgCardProduto:hover + .englobados{
        transition: 0.3s;      
        display: block;
    }
    
    .englobados:hover {
        display: block;
    }
}

@media (min-width: 768px) {
    .divSelects {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .btnAplicarFiltros {
        width: 10%;
        padding: 0.5% 0;    
    }
    .ordenar {
        display: block;    
    }
    .ordenar select {
        width: 30%;    
    }
    .categoria .produtos {
        display: grid;
        grid-template-columns: 35% auto 35%;
        grid-template-rows: 50% 50%;
        grid-gap: 10px;    
    }
}

.filtros h2 {
    margin-bottom: 3%;
}

.divSelects select {
    border-radius: 4px;
    width: 50%;
    padding: 0.5% 0;
    margin-right: 2%;
}

.btnAplicarFiltros {
    margin-right: 2%;
    border-radius: 4px;
    color: white;
    background-color: var(--laranja);
    border: none;
    text-transform: uppercase;
    font-weight: 600; /* SemiBold */
}

.btnAplicarFiltros:hover {
    cursor: pointer;
}

.innerFiltros {
    display: flex;
    justify-content: space-between;
}

.ordenar {
    padding: 3% 0%;
    padding-left: 2%; 
}

.ordenar select {
    border-radius: 4px;
    padding: 0.5% 0;
    margin-right: 2%;
}

.categorias {
    width: 100%;
    margin: 3% 0%;
}

.categoria h2 {
    padding: 0 2%;
    color: var(--grafite);
}

.categoria .produtos {
    background-color: white;
    padding: 10px;
    height: 50%;
    padding-bottom: 3%;
    border-radius: 5px;
}

.categoria .produtos .cardProduto {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border: none;
    box-shadow: 4px 4px 15px #cccccc
}

.englobados {    
    width: 100%;
}

.imgCardProduto img {
    height: 100%;
}

.cardGrid1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.cardGrid2 {
    grid-column-start: 2;
    grid-column-end: 3; 
    grid-row-start: 1;
    grid-row-end: 2;
}

.cardGrid3 {
    grid-column-start: 2;
    grid-column-end: 3; 
    grid-row-start: 2;
    grid-row-end: 3;
}

.cardGrid4 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}