* {
    margin: 0%;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root {
    --roxo: #a200cb;
    --grafite: #707070;
    --laranja: #ffbd19;
    --verde: #14cc8a;
}
header {
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #A200CB;
}
.container img { /* logo */
    height: 95px;
    width: 204px;
}
.container {
    width: 1200px;
    margin: auto;
}
.container input {
    width: 605px;
    height: 35px;
    margin-left: 90px;
}
.menu-centro {
    display: flex;
    justify-content: center;
}
.ca{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI';
}
.ca a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botao-login {
    display: flex;
    justify-content: flex-end;
    margin-left: 60px;
}
.botao-login p{
    margin-top: -4px;
}
#entrar {
    width: 30px;
    height: 35px;
    margin: 10px;
}
.menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 600px;
    align-items: center;
    font-size: 12px;
}
.menu a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
.menu a:hover {
    border-bottom: 1.5px solid white;
    transition: 0.3s;
}
footer {
    background-image: linear-gradient(to right, rgb(162, 0, 203), rgb(20, 204, 138));
    color: white;
    font-size: 18px;
    font-family: 'Segoe UI';
    text-align: center;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* --------------------------------------------------perfil----------------------------------------------------------- */
body {
    background-color: #EBEBEB;
    text-align: center;
}
main {
    margin: auto;
    width: 1200px;
    background-color: white;
    padding: 20px;
}
.cima {
    width: 1200px;
    display: flex;
    border-bottom: solid 3px #A200CB;
}
.direito {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
    height: 286px;
    font-size: 20px;
    padding-top: 80px;
    padding-bottom: 20px;
}
body h1 {
    text-align: center;
    color: #707070;
    padding: 20px;
}
.esquerdo img {
    width: 250px;
}
.texto1 {
    font-size: 20px;
}
.baixo h2 {
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.baixo p {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-top: 30px;
}
.conteudo {
    display: flex;
    justify-content: space-around;
    width: 1200px;
    margin: auto;
}
.baixo {
    margin: auto;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}
.posranking {
    border: 1px solid black;
    padding: 10px;
    width: 200px;
    display: flex;
    justify-content: center;
}
.t1 {
    text-align: justify;
}
.t2 {
    text-align: justify;
}
.esquerdo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
h2 {
    text-align: center;
    padding: 20px;
}
/* media queries */

@media (max-width: 1169px) {
    header{
        background-color: var(--verde);
    }
    .container{
        width: 900px;
    }
    .container input {
        width: 505px;
        height: 35px;
        margin-left: 40px;
    }
    .menu{
        width: 500px;
    }
    .container img { /* logo */
        height: 75px;
        width: 164px;
    }
    #entrar {
        width: 25px;
        height: 30px;
        margin: 10px;
    }
    .esquerdo img {
        width: 200px;
    }
    .posranking {
        width: 150px;
    }
}

@media (max-width: 767px) {
    header{
        background-color: var(--laranja);
        margin: auto;
    }
    .container input {
        display: none;
    }
    .menu-centro {
        flex-direction: column;
        width: 150px;
        padding: 15px 0px;
        margin: auto;
    }
    .menu-centro li {
        padding-top: 10px;
    }
    .container img { /* logo */
        height: 75px;
        width: 164px;
    }
    .container{
        width: 700px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        margin: auto;
    }
    #entrar {
        display: none;
    }
    main{
        width: 700px;
        margin: auto;
        text-align: center;
    }
    .botao-login p{
        display: none;
    }
    .conteudo {
        width: 700px;
    }
    .ca {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        font-family: 'Segoe UI';
        margin: auto;
    }
    #avatar{
        margin: auto;  
    }    
}