/* css cabeçalho e rodapé */
/* css ranking */
:root {
    --roxo: #a200cb;
    --grafite: #707070;
    --laranja: #ffbd19;
    --verde: #14cc8a;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
}
header {
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #A200CB;
}
.container img {
    height: 95px;
    width: 204px;
}
.container {
    width: 1200px;
    margin: auto;
}
.container input {
    width: 605px;
    height: 35px;
    margin-left: 90px;
}
.menu-centro {
    display: flex;
    justify-content: center;
}
.ca{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI';
}
.ca a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botao-login {
    display: flex;
    justify-content: flex-end;
    margin-left: 60px;
}
.botao-login p{
    margin-top: -4px;
}
#entrar {
    width: 30px;
    height: 35px;
    margin: 10px;
}
.menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 600px;
    align-items: center;
    font-size: 12px;
}
.menu a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
.menu a:hover {
    border-bottom: 1.5px solid white;
    transition: 0.3s;
}
footer {
    background-image: linear-gradient(to right, rgb(162, 0, 203), rgb(20, 204, 138));
    color: white;
    font-size: 18px;
    font-family: 'Segoe UI';
    text-align: center;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ------------------------------------------------------------------------------------------------- */
/* css página do ranking */
* {
    margin: 0;
    padding: 0;
}
td {
    padding: 0px 45px;
    margin: auto;
    text-align: center;
}
table {
    margin: auto;
    border-spacing: 15px;
}
.div {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 40px;
}
.descricao {
    width: 40%;
    text-align: justify;
    border: solid 0px var(--roxo);
    border-radius: 5px;
    height: 800px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(204, 204, 204, 1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(204, 204, 204, 1);
    box-shadow: 0px 0px 8px 0px rgba(204, 204, 204, 1);
    
}
.ranking {
    width: 47%;
    border: solid 0px var(--roxo);
    border-radius: 5px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(204, 204, 204, 1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(204, 204, 204, 1);
    box-shadow: 0px 0px 8px 0px rgba(204, 204, 204, 1);
}
p {
    width: 400px;
    margin: auto;
    padding-top: 20px;
}
h3 {
    text-align: center;
    padding: 20px;
    border-bottom: solid 2px var(--roxo);
    color: var(--roxo);
    text-transform: uppercase;
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
}
main {
    background-image: url(../img/arrumado1.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding-bottom: 40px;
}
.a-botao {
    color: var(--roxo);
    border: solid 2px var(--roxo);
    padding: 20px;
    background-color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.a-botao:hover {
    background-color: var(--roxo);
    color: white;
}
.botao {
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}